In [60]:
import pandas as pd

In [61]:
data = pd.read_excel(r'C:\Users\qyypy\Desktop\机器学习综合实践\Data\dataSet2\训练集.xlsx')
data

,Sl 2,outcome,Age,Residence,Social Category,Sex,Heart Rate,RR,Systolic Blood Pressure,Diastolic Blood Pressure,...,Anemia,Rhabdomyolysis / Myositis,Acute renal injury/ Acute renal failure,Gastrointestinal haemorrhage,Pancreatitis,Liver dysfunction,Hyperglycemia,Hypoglycemia,Respiratory failure,Septic shock
0,1,2,60-70,1,2,2,78.0,NaN,142,71,...,2,2,2,2,2,2,2,2,1,2
1,2,1,60-70,1,2,2,104.0,NaN,141,92,...,2,2,2,2,2,2,1,2,1,2
2,3,1,60-70,1,1,2,89.0,26.0,80,60,...,2,2,2,2,2,2,2,2,2,2
3,4,1,71-80,1,1,1,94.0,NaN,140,70,...,2,2,2,2,2,2,1,2,2,1
4,5,2,71-80,1,1,1,76.0,NaN,102,60,...,2,2,2,2,2,2,2,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,204,1,60-70,1,2,1,104.0,20.0,140,86,...,2,2,2,2,2,2,2,2,1,2
204,205,1,60-70,1,2,2,130.0,20.0,130,90,...,2,2,2,2,2,2,2,2,2,2
205,206,1,60-70,1,1,1,86.0,19.0,120,70,...,2,2,2,2,2,2,2,2,2,2
206,207,1,60-70,1,1,1,74.0,26.0,110,70,...,2,2,2,2,2,2,2,2,2,2
207,208,1,60-70,1,2,2,80.0,32.0,120,70,...,2,2,2,2,2,2,2,2,2,2

In [62]:
def filter_col(data, narate = 0.2):
    n_samples = data.shape[0]
    nan_list = []

    for col in data.columns:
        if data[col].isna().sum() / n_samples >= (narate):
            nan_list.append(col)
    
    print(f'缺失率在{narate * 100}%的变量有{nan_list}')

    return nan_list

In [63]:
list = filter_col(data)
data = data.drop(columns=list)
data

缺失率在20.0%的变量有['RR', 'HbA1c (%) ', 'Procalcitonin (ng/mL) ', 'IL-6 (pg/mL) ']

,Sl 2,outcome,Age,Residence,Social Category,Sex,Heart Rate,Systolic Blood Pressure,Diastolic Blood Pressure,spO2 at Room air,...,Anemia,Rhabdomyolysis / Myositis,Acute renal injury/ Acute renal failure,Gastrointestinal haemorrhage,Pancreatitis,Liver dysfunction,Hyperglycemia,Hypoglycemia,Respiratory failure,Septic shock
0,1,2,60-70,1,2,2,78.0,142,71,80.0,...,2,2,2,2,2,2,2,2,1,2
1,2,1,60-70,1,2,2,104.0,141,92,80.0,...,2,2,2,2,2,2,1,2,1,2
2,3,1,60-70,1,1,2,89.0,80,60,NaN,...,2,2,2,2,2,2,2,2,2,2
3,4,1,71-80,1,1,1,94.0,140,70,87.0,...,2,2,2,2,2,2,1,2,2,1
4,5,2,71-80,1,1,1,76.0,102,60,87.0,...,2,2,2,2,2,2,2,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,204,1,60-70,1,2,1,104.0,140,86,98.0,...,2,2,2,2,2,2,2,2,1,2
204,205,1,60-70,1,2,2,130.0,130,90,90.0,...,2,2,2,2,2,2,2,2,2,2
205,206,1,60-70,1,1,1,86.0,120,70,82.0,...,2,2,2,2,2,2,2,2,2,2
206,207,1,60-70,1,1,1,74.0,110,70,NaN,...,2,2,2,2,2,2,2,2,2,2
207,208,1,60-70,1,2,2,80.0,120,70,68.0,...,2,2,2,2,2,2,2,2,2,2

In [64]:
data = data.drop(columns=['Sl 2', 'Age'])
data

,outcome,Residence,Social Category,Sex,Heart Rate,Systolic Blood Pressure,Diastolic Blood Pressure,spO2 at Room air,Fever,Cough,...,Anemia,Rhabdomyolysis / Myositis,Acute renal injury/ Acute renal failure,Gastrointestinal haemorrhage,Pancreatitis,Liver dysfunction,Hyperglycemia,Hypoglycemia,Respiratory failure,Septic shock
0,2,1,2,2,78.0,142,71,80.0,1,2,...,2,2,2,2,2,2,2,2,1,2
1,1,1,2,2,104.0,141,92,80.0,1,2,...,2,2,2,2,2,2,1,2,1,2
2,1,1,1,2,89.0,80,60,NaN,1,1,...,2,2,2,2,2,2,2,2,2,2
3,1,1,1,1,94.0,140,70,87.0,2,2,...,2,2,2,2,2,2,1,2,2,1
4,2,1,1,1,76.0,102,60,87.0,1,2,...,2,2,2,2,2,2,2,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,1,1,2,1,104.0,140,86,98.0,1,1,...,2,2,2,2,2,2,2,2,1,2
204,1,1,2,2,130.0,130,90,90.0,1,1,...,2,2,2,2,2,2,2,2,2,2
205,1,1,1,1,86.0,120,70,82.0,1,1,...,2,2,2,2,2,2,2,2,2,2
206,1,1,1,1,74.0,110,70,NaN,1,1,...,2,2,2,2,2,2,2,2,2,2
207,1,1,2,2,80.0,120,70,68.0,1,1,...,2,2,2,2,2,2,2,2,2,2

In [ ]:
data.to_csv(r'C:\Users\qyypy\Desktop\机器学习综合实践\Data\dataSet2\DataProcessed.csv')

In [65]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# 排除 'Group' 和 'Patient Code' 列，选择剩下的数值型数据
correlation_data = data.drop(columns=['outcome'])

# 计算相关系数矩阵
correlation_matrix = correlation_data.corr()

# 显示相关系数矩阵
correlation_matrix

In [ ]:
# 绘制热力图
plt.figure(figsize=(120, 100))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
plt.title('Correlation Matrix Heatmap')
plt.show()

In [66]:
data = data.drop(columns=['Cryptogenic organizing pneumonia (COP) ', 'Bronchiolitis ', 'Endocarditis   ', 'Pancreatitis ', 'Rhabdomyolysis / Myositis '])

In [ ]:
correlation_data = data
# 计算相关系数矩阵
correlation_matrix = correlation_data.corr()

# 显示相关系数矩阵
correlation_matrix

In [ ]:
plt.figure(figsize=(60, 50))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
plt.title('Correlation Matrix Heatmap')
plt.show()

In [67]:
# KNN处理缺失值
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

numerical_cols = data.select_dtypes(include=['float64', 'int64']).columns

scaler = StandardScaler()
scaled_data = scaler.fit_transform(data[numerical_cols])

knn_imputer = KNNImputer(n_neighbors=4)
imputed_data = knn_imputer.fit_transform(scaled_data)

imputed_data = scaler.inverse_transform(imputed_data)


data[numerical_cols] = imputed_data

data

,outcome,Residence,Social Category,Sex,Heart Rate,Systolic Blood Pressure,Diastolic Blood Pressure,spO2 at Room air,Fever,Cough,...,Coagulation disorder / DIC,Pulmonary embolism,Anemia,Acute renal injury/ Acute renal failure,Gastrointestinal haemorrhage,Liver dysfunction,Hyperglycemia,Hypoglycemia,Respiratory failure,Septic shock
0,2.0,1.0,2.0,2.0,78.0,142.0,71.0,80.00,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
1,1.0,1.0,2.0,2.0,104.0,141.0,92.0,80.00,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0
2,1.0,1.0,1.0,2.0,89.0,80.0,60.0,77.25,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,1.0,1.0,1.0,1.0,94.0,140.0,70.0,87.00,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
4,2.0,1.0,1.0,1.0,76.0,102.0,60.0,87.00,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,1.0,1.0,2.0,1.0,104.0,140.0,86.0,98.00,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
204,1.0,1.0,2.0,2.0,130.0,130.0,90.0,90.00,1.0,1.0,...,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
205,1.0,1.0,1.0,1.0,86.0,120.0,70.0,82.00,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
206,1.0,1.0,1.0,1.0,74.0,110.0,70.0,80.00,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
207,1.0,1.0,2.0,2.0,80.0,120.0,70.0,68.00,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [68]:
data['outcome'] = data['outcome'].apply(lambda x: 1 if x == 2 else 0)
X = data.drop(columns='outcome')
y = data['outcome']

data

,outcome,Residence,Social Category,Sex,Heart Rate,Systolic Blood Pressure,Diastolic Blood Pressure,spO2 at Room air,Fever,Cough,...,Coagulation disorder / DIC,Pulmonary embolism,Anemia,Acute renal injury/ Acute renal failure,Gastrointestinal haemorrhage,Liver dysfunction,Hyperglycemia,Hypoglycemia,Respiratory failure,Septic shock
0,1,1.0,2.0,2.0,78.0,142.0,71.0,80.00,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
1,0,1.0,2.0,2.0,104.0,141.0,92.0,80.00,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0
2,0,1.0,1.0,2.0,89.0,80.0,60.0,77.25,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,0,1.0,1.0,1.0,94.0,140.0,70.0,87.00,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0
4,1,1.0,1.0,1.0,76.0,102.0,60.0,87.00,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,0,1.0,2.0,1.0,104.0,140.0,86.0,98.00,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0
204,0,1.0,2.0,2.0,130.0,130.0,90.0,90.00,1.0,1.0,...,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
205,0,1.0,1.0,1.0,86.0,120.0,70.0,82.00,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
206,0,1.0,1.0,1.0,74.0,110.0,70.0,80.00,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
207,0,1.0,2.0,2.0,80.0,120.0,70.0,68.00,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [69]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [79]:

import numpy as np
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.datasets import make_classification
from sklearn.metrics import mean_absolute_error, mean_squared_error

RFR = RandomForestRegressor()
RFR.fit(X_train, y_train)

# 预测
y_pred = RFR.predict(X_test)

print(f'MAE:',mean_absolute_error(y_pred, y_test))
print(f'RMSE:',np.sqrt(mean_squared_error(y_test, y_pred)) )

# print(classification_report(y_test, y_pred))
# print(confusion_matrix(y_test, y_pred))

MAE: 0.37119047619047624
RMSE: 0.4451297296187665