In [130]:
import pandas as pd

data = pd.read_csv(r'C:\Users\qyypy\Desktop\机器学习综合实践\Assignments\PrepecessedDataSheet2.csv')
data.head()

,Deceased,Glucose,Urea,Creatinine,Sodium,Potassium,TB,DB,ALT,AST,ALP,Hemoglobin,WBC,Platelet
0,0.0,68.0,52.0,2.00,145.0,4.00,0.90,0.3,200.0,52.0,460.0,13.68,23500.0,243000.0
1,1.0,450.0,240.0,3.80,150.0,5.50,1.20,0.4,198.0,179.0,114.0,12.92,8800.0,76000.0
2,0.0,128.0,23.0,1.08,140.0,4.00,0.91,0.2,65.0,127.0,167.0,14.80,11100.0,250000.0
3,0.0,128.0,178.0,2.40,129.0,4.80,1.20,0.4,200.0,370.0,84.0,9.30,8500.0,56000.0
4,0.0,95.0,83.0,1.00,148.0,3.96,1.02,0.3,45.0,50.0,75.0,16.00,16800.0,311000.0

In [131]:
# 删除缺失率过高的变量
def filter_nan(data, narate = 0.2):
    n_samples = data.shape[0]
    list_nan_cols = []
    
    for col in data.columns:
        if data[col].isna().sum() / n_samples >= (narate):
            list_nan_cols.append(col)
    
    print(f'缺失量在{narate * 100}%以上的变量有:{list_nan_cols}')

    return list_nan_cols

In [132]:
list_nullfactor_todrop = filter_nan(data, narate=0.2)

data_select = data.drop(list_nullfactor_todrop, axis = 1).copy()
data_select.head()

缺失量在20.0%以上的变量有:[]

,Deceased,Glucose,Urea,Creatinine,Sodium,Potassium,TB,DB,ALT,AST,ALP,Hemoglobin,WBC,Platelet
0,0.0,68.0,52.0,2.00,145.0,4.00,0.90,0.3,200.0,52.0,460.0,13.68,23500.0,243000.0
1,1.0,450.0,240.0,3.80,150.0,5.50,1.20,0.4,198.0,179.0,114.0,12.92,8800.0,76000.0
2,0.0,128.0,23.0,1.08,140.0,4.00,0.91,0.2,65.0,127.0,167.0,14.80,11100.0,250000.0
3,0.0,128.0,178.0,2.40,129.0,4.80,1.20,0.4,200.0,370.0,84.0,9.30,8500.0,56000.0
4,0.0,95.0,83.0,1.00,148.0,3.96,1.02,0.3,45.0,50.0,75.0,16.00,16800.0,311000.0

In [133]:
data.shape

(985, 14)

In [134]:
from sklearn.model_selection import train_test_split
# 选择特征和标签
X = data.drop(columns=['Deceased'])
y = data['Deceased']

# 将数据集划分为训练集和验证集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [135]:

import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.datasets import make_classification
from sklearn.metrics import mean_absolute_error, mean_squared_error

RFR = RandomForestRegressor()
RFR.fit(X_train, y_train)

# 预测
y_pred = RFR.predict(X_test)

print(f'MAE:',mean_absolute_error(y_pred, y_test))
print(f'RMSE:',np.sqrt(mean_squared_error(y_test, y_pred)) )

MAE: 0.09663028764805416
RMSE: 0.20553195703780516

In [136]:
np.round(y_pred, decimals=1)

array([0. , 0. , 0. , 0. , 0.1, 0.1, 0. , 0.2, 0. , 0. , 0.1, 0. , 0. ,
       0.2, 0. , 0.2, 0. , 0. , 0. , 0.2, 0. , 0.2, 0. , 0.6, 0. , 0.2,
       0. , 0. , 0.2, 0.4, 0.1, 0.5, 0. , 0. , 0. , 0. , 0.2, 0.1, 0.2,
       0. , 0.1, 0. , 0. , 0.1, 0. , 0. , 0. , 0.1, 0. , 0. , 0.1, 0. ,
       0. , 0. , 0. , 0. , 0. , 0.1, 0.2, 0. , 0. , 0.1, 0.5, 0.4, 0.3,
       0.3, 0. , 0. , 0.2, 0. , 0. , 0.1, 0. , 0. , 0.5, 0.3, 0.2, 0. ,
       0. , 0.3, 0. , 0. , 0. , 0. , 0.1, 0. , 0.1, 0. , 0.1, 0. , 0. ,
       0.1, 0. , 0.2, 0.1, 0. , 0. , 0. , 0. , 0. , 0.4, 0. , 0.1, 0. ,
       0.3, 0. , 0. , 0. , 0. , 0.1, 0.1, 0. , 0. , 0.1, 0.3, 0.1, 0.3,
       0. , 0. , 0.3, 0.2, 0. , 0.2, 0. , 0. , 0. , 0. , 0.1, 0.1, 0.1,
       0. , 0. , 0. , 0. , 0. , 0.2, 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0.1, 0. , 0.3, 0. , 0. , 0. , 0. , 0. , 0. , 0.1, 0.1,
       0. , 0. , 0. , 0.3, 0. , 0.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0.1, 0. , 0. , 0.2, 0.3, 0.1, 0. , 0.1, 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0.2, 0. , 0. , 0.1, 0. , 0.1,
       0.1, 0. ])

In [137]:
import joblib

joblib.dump(RFR, r'C:\Users\qyypy\Desktop\机器学习综合实践\Save_Model\RFR.pkl')

['C:\\Users\\qyypy\\Desktop\\机器学习综合实践\\Save_Model\\RFR.pkl']